*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(11,6,92);
    background: linear-gradient(180deg, rgba(11,6,92,1) 0%, rgba(121,9,100,1) 0%, rgba(81,9,190,1) 100%);
}

/*----------------------------------------------------HEADER--------------------------------------------------*/

.nav{
    width: 100%;
    background: rgb(17,15,42);
    background: linear-gradient(90deg, rgba(17,15,42,1) 0%, rgba(92,14,91,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    
    height: 45px;
    margin: 10px 0 10px 15px;
}
.buscador_container{
    margin-left: -100px;
    
}
.buscador{
    background-color: #bbb;
    background-image: url(../img/lupa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 5px;
}
input:focus{
    background-image: none;
}
input:hover{
    background-image: none;
}

.carrito_container{
   width: 50px;
   height: 50px;
   position: relative;
   top: 12px;
   right: 26px;
}

.carrito_container i{
    font-size: 30px;
    left: 15px;
    position: absolute;
}
.carrito_container p{
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    top: -15px;
    right: -5px;
}

.menu{
    font-size: 20px;
    background: rgb(17,15,42);
    background: linear-gradient(90deg, rgba(17,15,42,1) 0%, rgb(92, 14, 91) 100%);
    text-align: center;
    line-height: 2;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0px;
    border-bottom: 2px solid #000;
}
.menu li:hover{
   scale: 1.2;
}

.menu li{
    flex-basis: 25%;
    transition-property: all;
    transition-duration: .5s;
}
a{
    color: #fff;
    text-decoration: none;
    transition-property: all;
    transition-duration: .5s;
}
a:visited{
    color: #fff;
}
/*----------------------------------------------------MAIN------------------------------------------*/

main{
    width: 80%;
    margin: auto;
}
.datos_container{
    display: flex;
    justify-content: space-between;
}

.datos_formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    position: relative;
}

.caja_mensaje{
    height: 100px;
    resize: none;
}
.enviar_boton{
    position: absolute;
    right: 0;
    bottom: -30px;
    background-color: gray;
    color: white;
    font-family: cursive;
}

.datos_contacto{  
    border: 2px solid #000;
}
.datos_contacto img{
    width: 320px;
    height: 250px;
   
}
h2{
    margin-top: 30px;
    color: #fff;
}

.ubicacion_mapa{    
    border: solid;
    width: -webkit-fill-available;
    margin: 15px 0;
}
/*----------------------------------------------------FOOTER------------------------------------------*/

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(17,15,42);
    background: linear-gradient(90deg, rgba(17,15,42,1) 0%, rgba(92,14,91,1) 100%);
    align-items: center;
    padding: 10px 30px;
    border-top: 4px solid #000;
}

li{
    list-style: none;
}
.datos_grupo p{
    padding: 4px 0;
    font-size: 17px;
    color: #fff;
}
.menu_inferior li{
    position: relative;
    padding: 4px 0;
    font-size: 17px;
    left: -35px;
    color: #fff;
}
.redes_sociales li{
    position: relative;
    font-size: 20px;
    padding: 3px 0;
    left: -35px;
    color: #fff;
}




